@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Custom styles for pagination lines */
/* Custom styles for pagination lines */
.swiper-pagination-progressbar-fill {
  transform-origin: left top;
}

html{
  scroll-behavior: smooth;  
}

.loader {
  position: relative;
  height: 60px;
  width: 60px;
  box-sizing: content-box;
  padding: 10px;
}

.square {
  background-color: #ffffff;
  height: 20px;
  width: 20px;
  position: absolute;
}

.square-1 {
  animation: load 2s infinite;
}

.square-2 {
  animation: load 2s infinite;
  animation-delay: 1s;
}

@keyframes load {
  0% {
    translate: 0px 0px;
    scale: 1;
    rotate: 0deg;
  }

  25% {
    translate: 40px 0px;
    scale: 0.5;
    rotate: -90deg;
  }

  50% {
    translate: 40px 40px;
    scale: 1;
    rotate: 180deg;
  }

  75% {
    translate: 0px 40px;
    scale: 0.5;
    rotate: 90deg;
  }
}
    
/* Hide spinners for Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide spinners for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.providerButton{
  height: 0px;
  overflow: hidden;
  transition:  2s ease-in-out;

}
.provider:hover .providerButton{
  height: auto;
}